VITE_SUPABASE_URL=https://ocbczjqrnadrrhjpsqbr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jYmN6anFybmFkcnJoanBzcWJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3MTkxMTgsImV4cCI6MjEwMjI5NTExOH0.jpM_tobG8uvNzKJdToy_o_uV8mZ98RhfhyJNzE5D9I4